<%= form_with(model: @message, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @message.errors.any?%>
    <div id="error_header"><%= @message.errors.size %> 件のエラーがあります</div>
    <ul id="error_content">
      <% @message.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>      
    </ul>
  <% end %>
  <div id="tweet_entry">
    <div id="tweet_header">
      <h2>message</h2>
    </div>
    <div id="tweet_content">  
      <%= form.text_area :content %>
      <%= form.submit "submit" %>
    </div>
  </div>
<% end %>
<div class="page-link">
  <%= link_to 'back to index',messages_path %>
</div>

