<%= form_with(model: @message, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @message.errors.any?%>
    <div id="error_header"><%= @message.errors.size %> 件のエラーがあります</div>
    <ul id="error_content">
      <% @message.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>      
    </ul>
  <% end %>
  <h2>message</h2>
  <%= form.text_area :content %>
  <%= form.submit "submit" %>
<% end %>
<%= link_to 'back to index',messages_path %>

