<div id="tweet_entry">
  <%= form_with(model: @message, local: true, ) do |form| %>
    <div id="tweet_header">
      <h2>message</h2>
    </div>
    <div id="tweet_content">  
      <%= form.hidden_field :content%>
      <p><%= @message.content %></p>
      <%= form.submit "submit" %>
    </div>
  <% end %>
</div>
<div class="page-link">
  <%=  form_with(model: @message, local: true, url: new_message_path , method: 'get' ) do |form|%>
    <%= form.hidden_field :content %>
    <%= form.submit 'back', name: 'back' %>
  <% end %>
</div>